/* OVERLAY STYLES */

#pause-tab-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-overlay-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    font-optical-sizing: auto;
    backdrop-filter: blur(12px);
    z-index: 2147483647;
    pointer-events: all;

    &:focus-visible {
        outline: none;
    }

    article {
        display: flex;
        flex-direction: column;
        width: 360px;
        padding: var(--space-extra);
        background: var(--color-bg) linear-gradient(340deg,
                hsl(from var(--color-bg) h s 0.12) -120%,
                var(--color-bg));
        text-align: center;
        border: var(--border-subtle);
        border-radius: var(--radius-large);

        @supports (corner-shape: squircle) {
            border-radius: var(--radius-extra);
            corner-shape: squircle;
        }

        h1 {
            margin: 0 0 var(--space-medium);
            font-size: 1.5em;
            font-weight: var(--font-weight-extra);
            line-height: 120%;
        }

        p {
            margin-bottom:0 0 var(--space-medium);
            line-height: 140%;
            text-wrap: pretty;

            &:last-of-type {
                margin-bottom: var(--space-small);
            }
        }

        footer {
            display: flex;
            flex-direction: column;
            gap: var(--space-small);
            width: 100%;
            margin-top: var(--space-large);
        }

        &.bg-image {
            &::before {
                background-size: 200%;
            }
        }
    }
}

@keyframes holding-pulse {
    0% {
        background-color: var(--color-thistle);
    }

    25% {
        background-color: var(--color-pastel-petal);
    }

    50% {
        background-color: var(--color-baby-pink);
    }

    75% {
        background-color: var(--color-icy-blue);
    }

    100% {
        background-color: var(--color-sky-blue);
    }
}